.spotlight {
    --x: 50%;
    --y: 50%;
  
    mask-image: radial-gradient(
      circle 920px at var(--x) var(--y),
      transparent 0%,
      black 90%
    );
  
    -webkit-mask-image: radial-gradient(
      circle 920px at var(--x) var(--y),
      transparent 0%,
      black 90%
    );
  }
  @media (hover: none) {
    .spotlight {
      mask-image: none;
      backdrop-filter: blur(16px);
    }
  }